@font-face {
    font-family: BebasNeue;
    src: url('../fonts/BebasNeue_Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: BebasNeue;
    src: url('../fonts/BebasNeue_Book.ttf');
    font-weight: normal;
}

@font-face {
    font-family: BebasNeue;
    src: url('../fonts/BebasNeue_Thin.ttf');
    font-weight: 100;
}

body{
    font-family: BebasNeue;
    font-weight: normal;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.logo{
    max-width: 50%;
}

.subhead{
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 65px;
}

.fork-button{
    font-size: 16px;
    background-color: #0487D9;
    color: #fff;
    transition: opacity .2s;
    border: none;
}

.fork-button:hover{
    color: #fff;
    opacity: .8;
}

/* iPhones */
@media (max-width: 400px){
    .logo{
        max-width: 75%;
    }
}