@font-face {
    font-family: BebasNeue;
    src: url('../fonts/BebasNeue_Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: BebasNeue;
    src: url('../fonts/BebasNeue_Book.ttf');
    font-weight: normal;
}

@font-face {
    font-family: BebasNeue;
    src: url('../fonts/BebasNeue_Thin.ttf');
    font-weight: 100;
}

body{
    font-family: BebasNeue;
    font-weight: normal;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.img-background{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/o.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: -5px -10px -10px -5px;
    transform: translateX(-10px);
    overflow: hidden;
    position: fixed;
    width: 110vw;
    height: 110vh;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.logo{
    max-width: 50%;
}

.subhead{
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 65px;
    color: #fff;
}

.fork-button{
    font-size: 16px;
    background-color: #0487D9;
    color: #fff;
    transition: transform .2s ease-in-out, box-shadow .2s ease-in-out, background-color .2s ease-in-out;
    border: none;
    transform: scale(1.05);
}

.fork-button:hover{
    color: #fff;
    transform: scale(1.15);
    background-color: #08A5F0;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.hidden{
    visibility: hidden;
    opacity: 0;
    height: 0;
    overflow: hidden;
}

#instructions{
    transition: opacity .4s;
    color: #fff;
    letter-spacing: .1rem;
}

/* iPhones */
@media (max-width: 400px){
    .logo{
        max-width: 75%;
    }
}